@font-face {
    font-family: "Snell";
    src: url("files/SnellRoundhand.woff") format('woff');
}


body {
  /*background-color: #f7f8f9;*/
  width: 1000px;
  margin: 0 auto;
}
.snell {
  font-family: "Snell";
  font-size: 2em;
}
.snell-about {
  font-family: "Snell";
  font-size: 1.5em;
}

#page-header p {
  font-size: 1.5em;
}

#page-title {
  font-family: "Snell";
  font-size: 3em;
  font-weight: bold;
}

.navbar {
  font-family: "Noto Serif";
  font-size: 16px;
}
.navbar a {
  color: #444;
}
.navbar a:hover {
  color: #599ff9;
  text-decoration: none;
}
.navbar .active {
  background-color: #eee;
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}
.navbar .navbar-collapse {
  text-align: center;
}



#banner-box {
  background-color: white;
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  width: 100%;
}

.my-slider {
  /*background-color: #333;*/
  border: 2px solid #111;
  border-radius: 10px;
}


#carousel img {
  /*border: 2px solid #333;*/
  border-radius: 10px;
  height: 550px;
}





/* ABOUT.HTML */


#about-main {
  font-family: "Century Gothic";
  line-height: 35px;
}

#about-head {
  border-top: #277ea9 solid 1px;
  font-family: "Snell";
  font-size: 3em;
}
#about-head h2 {
  background-color: #277ea9;
  border-radius: 3px;
  color: #eee;
  padding: 10px;
  width: 40%;
  margin: auto;
}

#about-body {
  width: 80%;
  margin: auto;
  font-size: 18px;
  margin-top: 40px;

}

#narrative-block {
  background-color: #eee;
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 10px;
}

#signature {
  font-family: "Kristi";
  font-size: 40px;
  margin-bottom: 20px;
}


#footer {
  font-family: "Noto Serif";
  letter-spacing: 1px;
  margin-top: 5%;
  margin-bottom: 10%;
}
#footer a {
  color: #444;
}
.social-media i:hover {
  opacity: .7;
}

.contact-info {
  margin-top: 10px;
}
