@font-face {
    font-family: "Snell";
    src: url("files/SnellRoundhand.woff") format('woff');
}


body {
  /*background-color: #f7f8f9;*/
  width: 1000px;
  margin: 0 auto;
}

#page-header {
  /*font-size: 35px;*/
}

#page-title {
  font-family: "Snell";
  font-size: 3em;
  font-weight: bold;
}

.navbar {
  font-family: "Noto Serif";
  font-size: 16px;
}
.navbar a {
  color: #444;
}
.navbar a:hover {
  color: #599ff9;
  text-decoration: none;
}
.navbar .active {
  background-color: #eee;
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}
.navbar .navbar-collapse {
  text-align: center;
}



#banner-box {
  background-color: white;
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  width: 100%;
}

.my-slider {
  background-color: #111;
  border: 1px solid #111;
  border-radius: 10px;
}


#carousel img {
  border-radius: 10px;
  height: 550px;
}





/* ABOUT.HTML */


#about-main {
  font-family: "Noto Sans";
  line-height: 200%;
}

#narrative-block {
  background-color: #ddd;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
}

#signature {
  font-family: "Kristi";
  font-size: 40px;
}


#footer {
  font-family: "Noto Serif";
  letter-spacing: 1px;
  margin-top: 10%;
  margin-bottom: 10%;
}
#footer a {
  color: #444;
}
.social-media i:hover {
  opacity: .7;
}
