@font-face {
    font-family: "Snell";
    src: url("files/SnellRoundhand.woff") format('woff');
}


#look-book-title {
  border-top: #277ea9 solid 1px;
  color: #eee;
  font-family: "Snell";
  margin-bottom: 30px;
}

#look-book-title h2 {
  background-color: #277ea9;
  border-radius: 3px;
  color: #eee;
  padding: 10px;
  width: 40%;
  margin: auto;
}

.img-thumb {
  border: 1px solid #bbb;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #888888;
  cursor: pointer;
  width: 230px;
}

#gallery-2 .img-thumb {
  margin-top: 25px;
}

.img-thumb:hover {
  background-blend-mode: multiply;
  background-color: #eee;
  opacity: .7;
}

.thumb-title {
  font-family: "Noto Serif";
  letter-spacing: 2px;
  margin-top: 10px;
  text-align: center;
}


/*   M O D A L  */
.modal-dialog {
  width: 60%;
  /*height: 92%;*/
  padding: 0;
}

.modal {
  font-family: "Century Gothic";
}
.modal-title {
  font-family: "Snell";
  font-size: 3em;
}

.modal-text {
  font-size: 20px;
  line-height: 30px;
  margin-top: 75px;
  padding-right: 20px;
}

.modal-text-cont {
  font-size: 20px;
  line-height: 30px;
  margin-top: 30px;
  padding-right: 20px;
}
